* {
    font-family: Pontano Sans;
    margin-left: 3%;
}

body {
    background-image: url("Images/3026.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    font-family: Dancing Script;
    font-size: 1.5cm;
}

.text {
    line-height: 2;
    font-size: larger;
}

#depression {
    background-color: rgba(238, 255, 0, 0.315);
    width: 70%;
    height: 30%;
    margin-left: 10%;

}

#colorspersonality {
    background-color: rgba(52, 197, 255, 0.384);
    width: 70%;
    height: 30%;
    margin-left: 10%;

}

#library {
    background-color: rgba(204, 5, 105, 0.397);
    width: 70%;
    height: 30%;
    margin-left: 10%;

}